/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generici */

section{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* lista dei numeri */

#numbers{
    display: flex;
    gap: 20px;
    font-size: 24px;
    text-align: center;
    list-style-type: none;
    margin-top: 50px;
}

/* utili */

.d-none{
    display: none;
}