/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generici */

section{
    height: 50vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



h1 {
    font-size: 42px;
}

/* lista dei numeri */

#numbers{
    display: flex;
    gap: 20px;
    font-size: 24px;
    text-align: center;
    list-style-type: none;
    margin-top: 20px;
}

/* utili */

.d-none{
    display: none;
}