/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generici */

main{
    height: 50vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

#countdown{
    font-size: 32px;
}

/* utili */


.d-none{
    display: none;
}

/* lista dei numeri */

#numbers{
    display: flex;
    gap: 20px;
    font-size: 24px;
    text-align: center;
    list-style-type: none;
    margin-top: 20px;
    font-size: 28px;
}

/* form */

.answers{
    margin-top: 20px;
}

.inputs{
    display: flex;
    gap: 10px;
}

#button{
    background-color: green;
    color: red;
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 10px;
}